html {
    background-color: grey;
}

.programManager {
    background-color: white;
    font-family: Arial;
    width: 60%;
    margin: auto;
}

.textLabel {
    background-color: #0000aa;
    color: white;
    text-align: center;
}