/*Wed, Jan 24, 2024. 11:00am*/
html{
    background-color: black;
}

h1{
    font-family: monospace;
    color: white;
    text-align: center;
}

.imageinfo{
    color: lightseagreen;/*Wed, 24, 2024. 11.27am*/
    font-family: monospace;
    font-size: 18px;
    width: 80%;
    margin:auto;
}

.title{
    width: 80%;
    margin: auto; 
    border: 2px solid white;
}
/*If you decide to change the width and mess it up try 100% and it might fix it.*/
.title2{
    width: 100%;
    margin: auto;
    border: 2px solid white;
}

img.Beg{
    display: block;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid lightseagreen;
}

.important{
    color: red; 
    font-family: monospace
}

.Return{
    text-align: center;
    display: block;
    width: 40%;
    margin: auto;
    border: 2px solid white;
    color: red;
    font-family: monospace;
}
