/*10:05pm, 8/11/23 */

html {
    background-image: url(./media/b.jpg);
                                /* Wonkey, 10:48pm: IE8 won't use the scaled-up version (zoomed in) for some reason */
                                    /* Wonkey, 10:49PM: b.jpg had to be used. */
    background-size: 1920px 1080px;
}

@media (min-width: 1080px) {
    .element {
        background-size: 1920px 1080px;
    }
}


.divMain {
    background-color: rgb(24, 24, 24); /* rbga (x,x,x,.8); doesn't work in IE 8 */
    /* opacity: 80%;  9:54am PST, Oct 17th, Wonkey:  Not supprt by IE 8 to unknown */
    width: 40%;
    height: 100%;
    /* opacity: .8; */  /* For Internet Explorer */
                        /* 9:55am PST, Oct 17th, Wonkey: Doesn't work. */
}

h1 {
    font-family: Arial;
    color: white;
    opacity: 1;
}

p {
    font-family: Arial;
    color: white;
}

.banner-announcement {
    background-color: rgb(46, 157, 157);
}