/* Friday 29th, 2023 @ 11:47 PST */

html {
    /* background-color: #d5e5eb; */
    background-image: url(background.png);
}

h1 {
    font-family: Arial;
    color: white;
}

p {
    font-family: Arial;
    color: black;
}

.nav1 {
    background-color: rgb(2, 69, 4);
    color: rgb(2, 69, 4);
    width: 80%;
    margin: auto;
    padding: 2px;
}

.div1 {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    background-color: #d5e5eb;
}

.div2 {
    width: 30%;
    height: 30%;
    margin: auto;
    border: 2px solid black;
    background-color: yellow;
}

.internet{
    color: red; 
    font-family: monospace
}