html {
    background-color: black;
}

h1 {
    font-family: Arial;
    color: white;
}

h3 {
    font-family: Arial;
    color: white;
}

a {
    font-family: Arial;
    color: blue;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }